
.header {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} 


main{
  background-color: white; 
}

.header{

  .login{
    float: right;
    font-weight: bold;
    height: 40px;
    width: 90px;
    background-color: #567B94;
    color: white;
    border-radius: 7px;
    border: solid transparent;
  }



  .login:hover{
    cursor: pointer;
  }
  .account{
    float: right;
    border: solid transparent;
    background-color: transparent;
    height: 40px;
    width: 90px;
    font-size: 15px;
    font-weight: bold;
    
  }
  .account:hover{
    cursor: pointer;
  }

    img {
      max-width: 502.146px;
      width: 100%;
      height: auto;
      display: block;
      margin: auto;
      padding: 0px;
      padding-left: 150px;
  }

  p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    margin: 0px;
    margin-left: 30px;
  }

}

.topics {
  display:grid;
  justify-items: center;
}

.topics li {
  display: inline;
  font-family: Helvetica;
  font-size: 13px;
  padding: 10px;
  margin: 0 10px;    
}

.topics li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.topics a {
text-decoration: none;
color: black;
}

.article {
    padding: 10px;
    button{
      background-color: white;
      border-radius: 25px;
      border: solid #E8E8E8; 
      width: 80px;
      height: 40px;
      float: right;
      i{
        margin-right: 5px;
      }
    }
    button:hover{
      background-color: rgb(231, 229, 229);
      cursor: pointer;
    }
      
  }

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 2fr 4fr 2fr; /* fr = fraction of the container*/
    display: grid;
    grid-template-areas: 
      'left1 main right1'
      'left2 main right2';
  }

/* assign each article to a grid-area from the template above */

#item1 {
  grid-area: left1;
}

#item2 { /*item 2 is the main article */
  grid-area: main;
  border: hsl(0, 0%, 50%);
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  padding: 15px;
}
#item3 {
  grid-area: right1;
}
#item4 {
  grid-area: left2;
}
#item5 {
  grid-area: right2;  
}

/* top borders */
#item4, #item5 {
  border: hsl(0, 0%, 50%);
  border-top-style: solid;
  border-width: 1px;
  padding: 15px;
}

#title3 {
   font-family: Tinos;
        font-weight: 550;
        margin: 4% 0 4% 0;
        font-size: 32px;
}
}

/* tablet view, 2col */
@media (max-width: 1024px) {


.grid-container {
  grid-template-columns: 3fr 1fr; 
  display: grid;
  grid-template-areas: 
    'main1 side1'
    'main1 side2'
    'main2 side3';
}
.article {
  padding: 5px;
}

#item1 {
  grid-area: main2;
  border: black;
  border-right-style: solid;
  border-width: 1px;
  padding: 15px;
}
#title1 {
  font-size: 3.5vw;
}

#item2 { /* make sure that #item2, the main article, has priority */
  grid-area: main1;
  border: hsl(0, 0%, 50%);
  border-right-style: solid;
  border-width: 1px;
  padding: 15px; 
}

#item3 {
  grid-area: side1;
}
#item4 {
  grid-area: side2;
}
#item5 {
  grid-area: side3;
}

/* bottom borders */
  #item3::after, #item4::after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 100%; 
    padding-top: 20px; 
    border-bottom: 1px solid hsl(0, 0%, 50%);
  }

  #item1::before {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 100%; 
    padding-bottom: 20px; 
    border-top: 1px solid hsl(0, 0%, 50%);
  }

}

/* hide topics when screen is smaller than 1040px */
@media (max-width: 1040px) {
  .topics{
    display: none;
  }

.for-border {
  content: ""; 
  display: block; 
  margin: 0 auto; 
  width: 97%; 
  padding-top: 20px; 
  margin-bottom: 20px;
  border-bottom: 3px double hsl(0, 0%, 50%);
}

#title3{
   font-family: Tinos;
   font-weight: 550;

    font-size: 28px;
}
}

/* mobile view, 1col */
@media (max-width: 768px) {
.grid-container {
  grid-template-columns: 1fr;
  display: grid;
  grid-template-areas:
    'main1'
    'main2'
    'side1'
    'side2'
    'side3';
}
.article {
  padding-left: 15px;
  padding-right: 15px;

}
#item1 {
  grid-area: main2;
  border: none;
}
#item2 {
  grid-area: main1;
  border: none;
}
#item3 {
  grid-area: side1;
  border: none;
}
#item4 {
  grid-area: side2;
  border: none;
}
#item5 {
  grid-area: side3;
  border: none;
}

/* bottom border */
#item1::after {
  content: ""; 
  display: block; 
  margin: 0 auto; 
  width: 100%; 
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

/* title font-sizes */
#title3{
   font-family: Tinos;
   font-weight: 550;

    font-size: 28px;
}

/* hide date, today's paper, and subscribe button */
.header p, #subscribe {
  display: none;
}
  .topics{
    visibility: hidden;
  }

  #nyt-logo{
    width: 470px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 15px;
   

  }
}



.grid-container {
max-width: 1200px;
margin: 0 auto;
display: grid;
gap: 1rem;
}

.grid-container img {
width: 100%;
height: auto;
}

/* #spirited-away {
padding-top: 15px;
padding-bottom: 15px;
}

#ponyo, #kiki {
padding-bottom: 15px;
} */

.title {
font-size: larger;
font-weight: bold;
margin: 10px;
}

/* other title id font-sizes are changed in media queries since it gets a larger space in 2col and 1col view */


hr{
    margin: 0;
    padding: 0;
    border-top: var(--borderColor);

}
hr.bold{
    border-top: 1px solid #000000;
}

.footer::after {
  content: ""; 
  display: block; 
  margin: 15px auto; 
  width: 100%; 
  border-bottom: 1px solid hsl(0, 0%, 50%);
  border-style: double;
}
